/* -- Reset CSS -- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --- */
body {
    font-family: Helvetica, sans-serif;
}

.header,
.main-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px 20px 10px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
}

.div-dark-mode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 145px;
    font-size: 14px;
    font-weight: 500;
}

.div-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
    background-color: #CBCBCB;
    border-radius: 50px;
    padding: 5px;
}

#light-btn,
#dark-btn {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    cursor: pointer;
}

#light-btn {
    background-image: url('../assets/img/sol.png');
    background-color: #FFD000;
}

#dark-btn {
    background-image: url('../assets/img/luna.png');
    background-color: #0961CF;
}

.main-content {
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.palace {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 3;
}

h1 {
    font-size: 33px;
    font-weight: 500;
    padding: 5px;
}

.div-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    width: 75%;
    text-align: justify;
    line-height: 1.15;
    font-weight: 100;
}

.hide {
    visibility: hidden;
}

.black-background {
    background-color: black;
}

.yellow-text {
    color: #FFD000;
}

.white-text {
    color: white;
}

.btn-move-light {
    animation: lightBtn .15s cubic-bezier(.24, .57, .75, 1);
}

.btn-move-dark {
    animation: darkBtn .15s cubic-bezier(.24, .57, .75, 1);
}

@keyframes lightBtn {
    90% {
        background-image: url('../assets/img/luna.png');
        background-color: #0961CF;
    }

    100% {
        transform: translate(20px);
    }
}

@keyframes darkBtn {
    90% {
        background-image: url('../assets/img/sol.png');
        background-color: #FFD000;
    }

    100% {
        transform: translate(-20px);
    }
}